<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <form action="/" method="post" class="wrapper">
      <input type="text" name="input">
      <input type="submit" value="Add Item">
    </form>
      <ul class="todo-list">
        {{#todos}}
        {{#dataValues}}
        <li><input class="checkbox" type="checkbox">
          <label class="line-through"> {{title}}<label></li>
        {{/dataValues}}
        {{/todos}}
      </ul>
    </form>
  </body>
</html>
